<!-- <div class="card rounded-0 shadow border-0 mt-4">
  <div class="card-body">
    <div class="container-fluid row m-0 p-0">
      <h5 class="card-title mr-auto">Tasks ({{ taskCount }})</h5>
    </div>
  </div>
  <ul class="overflow-auto list-group list-group-flush mx-4">
    <form class="form-check my-1" *ngFor="let task of tasks; let i = index">
      <div class="d-flex">
        <input class="form-check-input" type="checkbox" id="taskCheck" />
        <label class="form-check-label ml-2" for="taskCheck">{{ task }}</label>
        <img
          class="ml-auto"
          src="../../../../assets/delete_24px.svg"
          style="width: 1rem; height: 1rem; cursor: pointer;"
          (click)="deleteTask(i)"
        />
      </div>
    </form>
  </ul>
  <div class="card-body">
    <form>
      <input
        type="text"
        class="form-control shadow-sm border-0 p-2"
        name="task"
        placeholder="Enter a new task here..."
        [(ngModel)]="taskText"
        (keydown.enter)="addTask()"
      />
    </form>
  </div>
</div> -->
