<div *ngIf="auth.user | async as user; else notAuthenticated">
  <nav class="navbar navbar-expand-lg p-0">
    <div class="container-fluid m-0 p-2" id="nav-authenticated">
      <div
        class="navbar-brand shadow-sm p-3 rounded bg-white"
        routerLink="dashboard"
      >
        <a
          class="p-0 m-0"
          style="font-family: 'ZCOOL KuaiLe',
                 cursive; font-size: 16px;
                 color: #2c3e50;"
          >mgmt.</a
        >
      </div>
      <div class="mr-4">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
          <a class="nav-item nav-link" routerLink="/projects">Projects</a>
          <a class="nav-item nav-link" routerLink="/team">Team</a>
        </div>
      </div>

      <ais-instantsearch [config]="searchConfig">
        <ais-search-box (change)="searchChanged($event)"></ais-search-box>
        <ais-hits *ngIf="showResults">
          <ng-template let-hits="hits" let-results="results">
            <span
              class="results position-absolute shadow"
              *ngIf="results.query && results.query.length > 0"
            >
              <ul class="list-group">
                <li
                  class="list-group-item p-0"
                  *ngFor="let hit of hits"
                  (click)="onSelect(hit)"
                >
                  <div class="media px-2 py-3">
                    <img
                      [src]="hit.photoURL"
                      class="img rounded-circle align-self-center"
                      style="width: 2rem; height: 2rem;"
                    />
                    <a
                      class="user-result d-inline-flex align-middle text-primary p-2"
                      >{{ hit.displayName }}</a
                    >
                  </div>
                </li>
              </ul>
            </span>
          </ng-template>
        </ais-hits>
      </ais-instantsearch>
      <div class="d-inline-flex ml-auto">
        <img
          [src]="user.photoURL"
          class="img-fluid profile-picture rounded-circle"
          style="width: 3.5rem; height: 3.5rem;"
          routerLink="/my-profile"
        />
      </div>
    </div>
  </nav>
</div>

<ng-template #notAuthenticated>
  <nav class="navbar navbar-expand-lg">
    <div
      class="navbar-brand shadow-sm p-3 rounded"
      style="background: white;"
      routerLink="dashboard"
    >
      <a
        class="p-0 m-0"
        style="font-family: 'ZCOOL KuaiLe',
                   cursive; font-size: 16px;
                   color: #2c3e50;"
        >mgmt.</a
      >
    </div>
  </nav>
</ng-template>
