<div *ngIf="(auth.user | async) as user; else notAuthenticated">
  <nav class="navbar navbar-expand-lg p-0 navbar-dark bg-dark shadow-sm">
    <a
      class="navbar-brand shadow p-4" 
      routerLink="dashboard"
      style="font-family: 'ZCOOL KuaiLe', cursive; font-size: 18px;"
      >mgmt.
    </a>
    <div class="d-inline-flex mr-2 p-0">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" routerLink="/projects">Projects</a>
        <a class="nav-item nav-link" routerLink="/team">Team</a>
      </div>
    </div>

    <ais-instantsearch [config]="searchConfig">
      <ais-search-box (change)="searchChanged($event)"></ais-search-box>
      <ais-hits *ngIf="showResults">
        <ng-template let-hits="hits">
          <span class="results position-absolute shadow">
            <ul class="list-group">
              <li class="list-group-item p-0" *ngFor="let hit of hits" (click)="onSelect(hit)">
                <div class="media px-2 py-3">
                  <img [src]="hit.photoURL" class="img rounded-circle align-self-center" style="width: 2rem; height: 2rem;">
                  <a class="user-result d-inline-flex align-middle text-primary p-2">{{ hit.displayName }}</a>
                </div>
              </li>
            </ul>
          </span>
        </ng-template>
      </ais-hits>
    </ais-instantsearch>
    <div class="mx-auto">
      <small class="font-italic mr-1">mgmt.</small>
      <small class="mr-1">version 1.0.0 - Built with</small>
      <img style="width: 1rem;" src="../../../../assets/angular-512.png">
      <img style="width: 0.75rem;" src="../../../../assets/firebase.png">
      <small class="ml-1">by Achu Mukundan</small>
    </div>

    <div class="d-inline-flex ml-auto mr-2 my-2">
      <img
        [src]="user.photoURL"
        class="img-fluid profile-picture rounded-circle"
        style="width: 3.5rem; height: 3.5rem;"
        routerLink="/my-profile"
      />
    </div>
  </nav>
</div>

<ng-template #notAuthenticated>
  <div>
    <nav class="navbar navbar-expand-lg p-0 navbar-light bg-white shadow-sm">
      <a
        class="navbar-brand shadow-sm p-4"
        routerLink="dashboard"
        style="font-family: 'ZCOOL KuaiLe', cursive; font-size: 18px;"
        >mgmt.
      </a>
    </nav>
  </div>
</ng-template>
