<div class="card shadow border-0 mt-4" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title mb-4">Team</h5>
    <div class="member media my-2">
        <img src="../../assets/do095o1z.svg" class="align-self-center mr-3 rounded-circle" style="width: 64px; height: 64px;" />
        <div class="media-body align-middle">
          <h5 class="member-name mt-3 mb-0">{{ memberName }}</h5>
          <p class="member-role mt-0 mb-0">
            {{ memberRole }}</p>
        </div>
      </div>
    <div class="media my-2">
        <img src="../../assets/Group 2.svg" class="add-btn align-self-center mr-3 shadow-sm rounded-circle" style="width: 64px; height: 64px;" />
    </div>
  </div>
</div>
