<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm p-0">
    <a class="navbar-brand shadow-sm p-3" href="#">mgmt.</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-3 rounded">
          <a class="nav-link" href="#">Dashboard</a>
        </li>

        <li class="nav-item mx-3 rounded">
          <a class="nav-link" href="#">Team</a>
        </li>

        <li class="nav-item mx-3 rounded">
            <a class="nav-link" href="#">Projects</a>
          </li>
      </ul>
    </div>
  </nav>
</div>
