<div *ngIf="(auth.user | async) as user">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm p-0">
    <a class="navbar-brand shadow-sm p-4" routerLink="dashboard">mgmt.</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item mx-3 ">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>

        <li class="nav-item mx-3 ">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>

        <li class="nav-item mx-3 ">
          <a class="nav-link" routerLink="/team">Team</a>
        </li>
      </ul>
    </div>
    <div class="ml-auto mr-3">
      <img
        [src]="user.photoURL"
        class="profile-picture rounded-circle"
        routerLink="profile"
      />
    </div>
  </nav>
</div>
