<div
  *ngIf="(auth.user | async) as user"
  class="card shadow border-0 rounded-0 mt-4"
>
  <div class="card-body">
    <h5 class="card-title mb-4">Team</h5>
    <div class="member media my-2">
      <img
        [src]="user.photoURL"
        class="img-fluid align-self-center mr-3 rounded-circle"
        style="width: 4rem; height: 4rem;"
      />
      <div class="media-body align-middle">
        <h5 class="member-name mt-3 mb-0">{{ user.displayName }}</h5>
        <p class="member-role mt-0 mb-0">
          Leader
        </p>
      </div>
    </div>
    <div class="media my-2">
      <button
        class="btn btn-primary mr-3 shadow-sm rounded-circle font-weight-bold"
        style="width: 4rem; height: 4rem; font-size: 2rem;"
        click="addMember()"
      >
        +
      </button>
    </div>
  </div>
</div>
