h5{
  font-weight: bold;
}
.form-check-label{
font-size: 14px;
}
.form-control{
  font-size: 14px;
}
.member-name{
  font-weight: 300;
  font-size: 14px;
}
.member-role{
  color: #bebebe;
  font-size: 12px;
}
.add-btn:hover{
  cursor: pointer;
}
