<div *ngIf="currentProjectSelected; then projectSelected; else noneSelected">
  <!--Templates will replace this div-->
</div>

<ng-template #noneSelected>
  <div class="col mt-5">
    <h1 class="text-center">Selected a project to start.</h1>
    <p class="text-center">Go the the projects menu, and get to work on a project</p>
    <div class="col col text-center">
      <button class="btn btn-primary shadow-sm" routerLink="/projects">Go to projects</button>
    </div>
  </div>
</ng-template>



<ng-template #projectSelected>
  <div class="mt-4 mb-3 px-4 container-fluid">
    <h1>{{ currentProject.name }}'s Team</h1>

    <div class="col mt-4">
      <div class="row card shadow border-0 p-4 mb-4" *ngFor="let member of members; let i = index">


        <div class="member media my-2" (click)="onSelect(member)">
          <img [src]="member.photoURL" class="img-fluid align-self-center mr-3 rounded-circle"
            style="width: 4rem; height: 4rem;" />
          <div class="media-body align-self-center">
            <h6 class="align-middle mb-0">{{ member.displayName }}</h6>
            <small class="m-0" *ngIf="i == 0">Leader</small>
          </div>
        </div>








      </div>

    </div>
  </div>
</ng-template>