<div *ngIf="currentProjectSelected; then projectSelected; else noneSelected">
  <!--Templates will replace this div-->
</div>

<ng-template #noneSelected>
  <div class="col mt-5">
    <h1 class="text-center">Selected a project to start.</h1>
    <p class="text-center">Go the the projects menu, and get to work on a project</p>
    <div class="col text-center">
      <button class="btn btn-primary shadow-sm" routerLink="/projects">Go to projects</button>
    </div>
  </div>
</ng-template>

<ng-template #projectSelected>
  <div class="container-fluid p-4">
    <h1 class="mb-4">{{ currentProject.name }}'s Team</h1>
    <div class="row rounded shadow mx-0 mb-3 py-3 pl-3 pr-4" *ngFor="let memberProgress of memberProgressArray; let i = index;">
      <div class="col border-right p-0">
        <div class="media pr-5">
          <img [src]="memberProgress.member.photoURL" class="align-self-center rounded-circle mr-3" style="width: 5rem; height: auto;">
          <div class="media-body align-self-center">
            <h6 class="my-0">{{ memberProgress.member.displayName }}</h6>
            <small class="my-0" *ngIf="i == 0">Leader</small>
          </div>
          <img class="ml-auto align-self-center" *ngIf="i !== 0" (click)="removeMember(i)" data-toggle="tooltip" data-placement="top" title="Remove this member"
        src="../../../assets/baseline-remove_circle_outline-24px.svg">
        </div>
       
      </div>
      <div class="col border-right pt-2">
        <p class="text-center text-secondary m-0">Tasks Completed</p>
        <h4 class="text-center font-weight-bold">
          {{ memberProgress.completedTasks.length }}
        </h4>
      </div>
      <div class="col border-right pt-2">
        <p class="text-center text-secondary m-0">Tasks Pending</p>
        <h4 class="text-center font-weight-bold">{{ memberProgress.pendingTasks.length }}</h4>
      </div>
      
    </div>
  </div>
</ng-template>