.logo{
  font-family: 'ZCOOL KuaiLe', cursive;
  padding: 0;
  margin: 0;
}
.header-secondary{
  font-weight: bold;
}
.banner-text2{
  font-weight: bold;
  font-size: 180px;
}
.banner-text1{
  font-size: 90px;
}











.container-fluid {
  height: 100%;
  width: 100%;
  position: absolute;
background: linear-gradient(110deg, #ff907f, #ec7878, #ebd079, #e7e976, #77ec8a, #74e2e7, #7a72e6, #e478ee, #e379ec);
background-size: 1800% 1900%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
