<div *ngIf="(auth.user | async); then authenticated; else guest">
  <!--Templates will replace this div-->
</div>

<!-- User not logged in-->
<ng-template #guest>
  <div class="container-fluid py-5">
      <div class="d-flex justify-content-center" style="flex-direction:column; width: 100%">
        <h1 class="text-center" style="font-size: 12vw; white-space: nowrap; overflow: hidden;">project mgmt.</h1>
        <h3 class="text-center" style="font-size: 6vw;">at its finest.</h3>
        <button
          type="button"
          class="btn align-self-center btn-light border-0 rounded-0 m-3 p-4 shadow"
          (click)="signIn()">
          <img src="../../../assets/G_Logo.svg" class="ml-0 mr-3 my-1" />
          <a class="text-center font-weight-bold">Sign In</a>
        </button>
      </div>
  </div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <app-projects></app-projects>
</ng-template>
