h5 {
  font-weight: bold;
}
.form-check-label {
  font-size: 14px;
}
.form-control {
  font-size: 14px;
}
::placeholder {
  color: rgb(190, 190, 190);
}
.btn-secondary {
  font-size: 14px;
}
.dropdown-item {
  font-size: 14px;
}
