<div class="mt-4 mb-3 container-fluid">
  <div class="row py-1 px-3">
    <h1>Projects.</h1>
    <!-- Modal trigger -->
    <button
      type="button"
      class="btn btn-success ml-auto shadow-sm"
      data-toggle="modal"
      data-target="#project-creator"
    >
      Create a new project
    </button>

    <!-- Project Creator Modal -->
    <div class="modal" id="project-creator" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content border-0 shadow-sm">
          <div class="modal-header shadow-sm">
            <h5 class="modal-title">Create a new project</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-project-creator></app-project-creator>
          </div>
          <div class="modal-footer shadow-sm"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Project cards -->
  <div class="container-fluid pt-3 px-3">
    <div class="row">
        <div
          *ngFor="let project of projects"
          class="card shadow border-0 p-4 col- m-2"
          style="width: 22rem; height: 16rem;"
        >
          <div class="card-body p-0">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text text-secondary">{{ project.description }}</p>
          </div>
          <div class="row mt-auto p-0 mx-0 mt-auto mb-0">
            <button type="button" class="btn btn-primary shadow-sm">
              Open Project
            </button>
            <button type="button" class="btn btn-secondary shadow-sm ml-2">
              Edit
            </button>           
            
            <button
              type="button"
              class="btn btn-danger shadow-sm ml-2"
              (dblclick)="onSubmit(project)"
              data-toggle="tooltip"
              data-placement="top"
              title="Double click to delete"
            >
              Delete
            </button>

          
        </div>
    </div>
  </div>
</div>
