#openProject {
  background: linear-gradient(40deg, #198ff0, #48acff);
  color: #ffffff;
}
#editProject {
  background: linear-gradient(60deg, #616161, #979797);
  color: #ffffff;
}
#edit-modal {
  background: linear-gradient(20deg, #616161, #979797);
  color: #ffffff;
}
#create-button {
  background: linear-gradient(40deg, #31b617, #62ce2f);
  color: #ffffff;
}
#create-modal {
  background: linear-gradient(40deg, #31b617, #62ce2f);
  color: #ffffff;
}
#save-changes {
  background: linear-gradient(40deg, #198ff0, #48acff);
  color: #ffffff;
}
#delete-project {
  background: linear-gradient(40deg, #ce0000, #ff4b90);
  color: #ffffff;
}
