<div class="mt-4 mb-3 container-fluid">
  <div class="row py-1 px-3">
    <h1>Projects.</h1>
    <!-- Modal trigger -->
    <button
      type="button"
      class="btn btn-success ml-auto shadow-sm"
      data-toggle="modal"
      data-target="#project-creator"
    >
      Create a new project
    </button>

    <!-- Project Creator Modal -->
    <div class="modal" id="project-creator" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content border-0 shadow-sm">
          <div class="modal-header shadow-sm">
            <h5 class="modal-title">Create a new project</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-project-creator></app-project-creator>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Project cards -->
  <div class="container-fluid pt-3 px-3">
    <div class="row">
      <div class="col- m-2" *ngFor="let project of projects">
        <div
          class="card shadow border-0 p-4"
          style="width: 22rem; height: 16rem;"
        >
          <div class="card-body p-0">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text text-secondary">{{ project.description }}</p>
          </div>
          <div class="row mt-auto p-0 mx-0 mt-auto mb-0">
            <button type="button" class="btn btn-primary shadow-sm">
              Open Project
            </button>
            <button
              type="button"
              class="btn btn-secondary shadow-sm ml-2"
              data-toggle="modal"
              data-target="#editorModal"
              (click)="editProject($event, project)"
            >
              Edit
            </button>
          </div>

          <!-- Editor Modal -->
          <div
            *ngIf="editState && projectToEdit.id == project.id"
            class="modal fade"
            id="editorModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="editorModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="projectName">
                    Edit {{ project.name }}
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="clearState()"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="projectName">Project Name</label>
                      <input
                        type="name"
                        class="form-control"
                        [(ngModel)]="project.name"
                        name="name"
                        id="projectName"
                        placeholder="Give your project a cool name."
                      />
                    </div>
                    <div class="form-group">
                      <label for="projectDescription">Description</label>
                      <textarea
                        type="description"
                        [(ngModel)]="project.description"
                        name="description"
                        class="form-control"
                        maxlength="150"
                        id="projectDescription"
                        aria-describedby="characterLimit"
                        placeholder="Describe what your project's about."
                      ></textarea>
                      <small id="characterLimit">Max. 150 Characters</small>
                    </div>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="updateProject(project)"
                      data-dismiss="modal"
                    >
                      Save changes
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger shadow-sm ml-2"
                      (click)="onSubmit($event, project)"
                      data-dismiss="modal"
                    >
                      Delete
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
