<form *ngIf="(auth.user | async) as user">
  <div class="form-group">
    <label for="projectName">Project Name (Required)</label>
    <input type="name" class="form-control" [(ngModel)]="project.name" name="name" id="projectName"
      placeholder="Give your project a cool name." [(ngModel)]="project.name" name="name" required>
  </div>
  <div class="form-group">
    <label for="projectDescription">Description (Required)</label>
    <textarea type="description" class="form-control" [(ngModel)]="project.description" name="description"
      maxlength="150" id="projectDescription" [(ngModel)]="project.description" name="description"
      aria-describedby="characterLimit" placeholder="Describe what your project's about." required></textarea>
    <small id="characterLimit">Max. 150 Characters</small>
  </div>
  <button type="submit" value="submit" class="btn" id="save-changes" (click)="onSubmit()" data-dismiss="modal">Save
    changes</button>
</form>