/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Muli', sans-serif;
}
h1{
  font-weight: bold;
}
textarea{
  font-size: 14px;
}
small{
  color: #9E9E9E;
}
