<div *ngIf="currentProject; then projectSelected else noneSelected">
</div>

<ng-template #projectSelected>
  <div>
    <div class="mt-5 mb-3 mx-4 container-fluid">
      <h1 class="project-title font-weight-bold">{{ currentProject.name }}</h1>

      <div class="container-fluid">
        <div class="row">
          <app-card-tasks class="task-card mr-2 col-sm"></app-card-tasks>
          <app-card-team class="team-card ml-2 col-sm"></app-card-team>
          <app-card-deadlines
            class="deadlines-card ml-2 col-sm"
          ></app-card-deadlines>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noneSelected>
  <div class="col mt-5">
      <h1 class="text-center">Selected a project to start.</h1>
      <p class="text-center">Go the the projects menu, and get to work on a project</p>
      <div class="col col text-center">
      <button class="btn btn-primary shadow-sm" routerLink="/projects">Go to projects</button>
      </div>
  </div>  
</ng-template>
